.checkout {
  display: flex;
  background: white;
  padding: 20px;
  height: max-content;
}
.checkout__title {
  margin-right: 10px;
  padding: 10px;
  border-bottom: 1px solid lightgray;
}
.checkout__ad {
  width: 70vw;
  margin-bottom: 10px;
  margin-right: 10px;
  height: 143px;
  object-fit: cover;
  object-position: top;
}
